@use "global" as *;

.p-contact-body__title span{
    font-weight: $bold;
    color: $black;
    font-size: rem(24);
    letter-spacing: rem(3);
    @include mq(md){
        font-size: rem(26);
        letter-spacing: rem(3);
    }
}

.p-contact-body__text{
    margin-top: rem(30);
    @include mq(md){
        margin-top: rem(30);
    }
}

.p-contact-body__text span{
    font-weight: $regular;
    color: $black;
    font-size: rem(16);
}

.p-contact-mail__inner label{
    font-weight: $bold;
    color: $black;
    font-size: rem(16);
    letter-spacing: rem(2);
}

.p-contact-mail__inner label span{
    margin-left: rem(5);
    padding: rem(3);
    background-color: red;
    border-radius: 10%;
    color: $white;
    font-size: rem(14);
}

.p-contact-mail__inner input{
    border: 1px solid #333;
    font-size: rem(20);
    padding: rem(8);
    margin-top: rem(10);
    @include mq(md){
    }
}

.p-contact-body__title,.p-contact-body__text,.p-contact-btn{
    text-align: center;
}

.p-contact-mail__inner{
    display: flex;
    flex-direction: column;
    margin-top: rem(25);
    @include mq(md){
        margin-top: rem(25);
        padding: 0 rem(315);
    }
}

.p-contact-btn{
    margin-top: rem(25);
    @include mq(md){
        margin-top: rem(25);
    }
}

.p-contact-btn__btn{
    border: 1px solid $main;
    background-color: $main;
    margin-left: auto;
    margin-right: auto;
    width: rem(275);
    height: rem(55);
    border-radius: rem(50);
}

.p-contact-btn__info{
    margin-top: rem(25);
    @include mq(md){
        margin-top: rem(27);
    }
}

.p-contact-btn__info span{
    letter-spacing: rem(1.5);
}

.p-contact-btn__info span a{
    color: red;
}

.p-contact-btn__info span a:hover{
    color: pink;
    transition: 0.3s;
}